<footer>
  <nav>
    <a href='https://github.com/jungeulyoung/' target='_blank'>Github</a>
  </nav>
  <p>
    <span>Reference : https://developers.kakao.com</span><br>
    <span>Source Code : https://github.com/jungeulyoung/Pharmacy-Recommendation</span><br>
    <span> eulyoung-jung. All Rights Reserved.</span>
  </p>
</footer>